Notice: Sets cannot have doubled items. No repeats.

Notice: Sets are not immutable. They CAN be reassigned or changed.

In [1]:
myset = set()

In [2]:
myset

set()

In [3]:
myset.add(1)

In [4]:
myset

{1}

Notice: Even though it returns curly braces { }, it is not a dictionary. It lacks key:value pairs

In [5]:
myset.add(2)

In [6]:
myset

{1, 2}

In [7]:
myset.add(2)

In [8]:
myset

{1, 2}

Notice: The number 2 was not added twice.

In [15]:
mylist = [1,1,1,1,1,1,2,2,2,2,3,3,3]

In [16]:
set(mylist)

{1, 2, 3}

In [1]:
set("Mississippi")

{'M', 'i', 'p', 's'}