In [1]:
mystring = 'hello'

In [3]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
mylist = [letter for letter in mystring]
#This line of code does exactly what the previous code did in one line

In [8]:
mylist

['h', 'e', 'l', 'l', 'o']

__Logic Behind The Code:__ This is a flattened out for loop<br>
__The format is the following:__ 'element' **for** 'element' **in** 'someiterableobject'

In [11]:
mylist = [blah for blah in 'word']

#Notice: the variable name once again doesn't matter

In [12]:
mylist

['w', 'o', 'r', 'd']

In [1]:
mylist = [num**2 for num in range(0,11)]

#This squares each number before it is appended into the list

In [16]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
mylist = [x for x in range(0,11) if x%2==0]

#only even numbers

In [20]:
mylist

[0, 2, 4, 6, 8, 10]

In [21]:
mylist = [x**2 for x in range(0,11) if x%2==0]

#squares only the even numbers

In [22]:
mylist

[0, 4, 16, 36, 64, 100]

**Method 1: For Loop**<br>
Converting celcius into fahrenheit

In [23]:
celcius = [0,10,20,34.5]

fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5) * temp + 32)

In [24]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

**Method 2: List Comprehension**<br>
Converting celcius into faherenheit using one line of code

In [29]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)* temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

**if-else Statements in List Comprehension**

In [4]:
results = [x if x%2==0 else 'Odd' for x in range(0,11)]

#Notice: The syntax is backwards from the previous if statements

In [3]:
results

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

**Nested For Loop**

In [34]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)
        
#This reminds me of how you multiply a 2 matrices

**Nested For Loop using List Comprehension**

In [35]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [38]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

#same thing done in one life of code
#you might prefer the previous code due to readability

In [39]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]