In [1]:
name = "Sam"

In [2]:
name[0] = "P"

TypeError: 'str' object does not support item assignment

Notice: Strings don't support item assignment

In [3]:
name[1:]

'am'

In [4]:
last_letters = name[1:]

In [5]:
last_letters

'am'

In [6]:
"P" + last_letters

'Pam'

Notice: This is string concatenation

Notice: Concatenation is joining character strings end to end

In [12]:
x = 'Hello World'

In [13]:
x + " it is beautiful outside!"

'Hello World it is beautiful outside!'

In [16]:
x = x + " it is beautiful outside!"

In [17]:
x

'Hello World it is beautiful outside! it is beautiful outside!'

In [18]:
letter = 'z'

In [19]:
letter * 10

'zzzzzzzzzz'

In [20]:
2 + 3

5

In [21]:
'2' + '3'

'23'

In [6]:
x = 'Hello Howard'

In [25]:
x.upper()

'HELLO WORLD'

In [7]:
x

'Hello Howard'

In [29]:
x.lower()

'hello world'

In [29]:
temp = x.split()
#temp[0][0] 
temp[1][0]

'H'

In [31]:
y = "Hi this is a string"

In [34]:
y.split('i')

['H', ' th', 's ', 's a str', 'ng']

Notice: x.split() will make a list using the spaces to split

Notice: y.split('i') will make a list using the i's to split.

Notice: i's are not included